/*Селекторы тегов имеют важность, оцениваемую в 1 балл
Селекторы классов, атрибутов и псевдоклассов оцениваются в 10 баллов
Селекторы идентификаторов оцениваются в 100 баллов
Встроенные inline-стили (задаваемые через атрибут style) оцениваются в 1000 баллов*/
a {font-size: 18px;}    

/*Приоритет сверху вниз*/  

#menu a {color: navy;}   /* темно-синий цет текста */
a.menuItem:not(.newsLink) {color: orange;}  /* оранжевый цет текста */
.nav .menuItem {color: green;}  /* зеленый цет текста */
.nav li a {color: red;}  /* красный цет текста */
div ul li a {color: gray; } /* серый цет текста */

/*CSS предоставляет возможность полностью отменить значимость стилей. Для этого в конце стиля указывается значение !important:*/
/*a {font-size: 18px; color: red !important;}*/

/*Псевдокласс :is() применяется для сокращения длинных селекторов*/

/* header > p, main > p, footer > p {font-size: 18px; font-family: Verdana;} альтернативный вариант без :is*/
:is(header, main, footer) > p  {font-size: 18px; font-family: Verdana; color: orange;}

:is(:is(header, main, footer) div) > p  {font-size: 18px; font-family: Verdana; color: blue;}

/*Псевдокласс :where() работает подобно :is(), он также принимает набор селекторов и выбирает все соответстующие селекторы*/

/*:where(header, main, footer) > p  {font-size: 18px; font-family: Verdana;}*/
/*В чем же разница между :is() и :where()? Псевдокласс :is() применяет каскадность стилей (selector specificity),
которая определяется по селектору с самым большим рангом. А для стилей псевдокласса :where() ранг селекторов всегда равен 0.*/

div > :is(h2, #content) { background: red; }         
div > h2,
div > #content {
    background: white;
}
/*Ранг селектора :where(h2, #content) будет равен 0, 
поэтому стиль, задаваемый селектором div > :where(h2, #content) будет переопределен последующими стилями*/
/*div > :where(h2, #content) { background: red; }*/